
<FilesMatch "\.(png|mp4|css|js)$">
    Order Allow,Deny
    Allow from all
</FilesMatch>

RewriteEngine On
RewriteBase /public
RewriteRule ^assets/(.*)$ index.php [L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php [L]



