#about-section {
    article {
        width: 100%;
    }

    h2 {
        @include responsive('medium') {
            font-size: 1rem;
        }
    }

    .vercingetorix {
        width: 100%;
        height: 400px;

        background-image: url(asset-path('img', 'clermont-ferrand-vercingetorix.webp'));
        background-repeat: no-repeat;
        opacity: 0.8;
        background-size: 120%;
        background-position: 80% 40%;
        position: relative;

        @include responsive('medium') {
            background-size: 100%;
            height: 200px;
        }
    }

    .title {
        position: absolute;
        right: 2rem;
        bottom: 0;
        padding: 1rem;
        background-color: $mainBackgroundColor;
    }
}