#cv-section {
    display: flex;

    .main-text-section {

        p {
            @include responsive('large') {}


            @include responsive('medium') {
                font-size: 1.5em;
            }

            @include responsive('small') {
                font-size: 1em;
            }

            strong {
                color: $primaryColorOrange;
            }

        }

        &>* {
            padding: 0 4em;
            margin-bottom: 2em;

            @include responsive('large') {}


            @include responsive('medium') {
                padding: 0 2em;
            }

            @include responsive('small') {
                padding: 0 1em;
            }
        }

    }

    .cv-container {

        &>* {
            @include responsive('large') {}


            @include responsive('medium') {
                padding: 0 2em;
            }

            @include responsive('small') {
                padding: 0 1em;
            }
        }


        h3 {
            margin: 0;
            padding: 0;
            line-height: 0;
            font-size: 0;
        }

        .tabs-cv {
            display: flex;

            & * {
                margin-bottom: 1.5em;
            }

            .tab-cv {
                cursor: pointer;
                padding: 0 1em;
                flex: 1;
                border-bottom: 0.25em $secondaryColorBlack solid;
                border-right: 0.25em $secondaryColorBlack solid;
                display: flex;
                flex-direction: column;
                justify-content: space-between;

                @include responsive('large') {}


                @include responsive('medium') {}

                @include responsive('small') {
                    font-size: 0.5em;
                }

                & * {
                    color: $secondaryColorWhite;
                }

                &>* {
                    padding-left: 1em;


                }


                h3 {
                    letter-spacing: normal;
                    text-transform: none;
                    font-weight: 500;
                    font-size: 1.125em;
                    align-self: flex-end;

                }

                p {

                    font-size: 1em;
                    padding-left: 0;


                    strong {
                        align-items: center;
                        font-size: 1.75em;
                    }
                }

                &.show {
                    border-bottom: 0.25em $primaryColorOrange solid;
                    border-right: 0.25em $primaryColorOrange solid;

                    & * {
                        color: $primaryColorWhite;
                    }


                }

                &:hover {
                    border-bottom: 0.25em $primaryColorBlue solid;
                    border-right: 0.25em $primaryColorBlue solid;
                }
            }
        }

        article {
            display: none;
            max-height: 20em;
            overflow-y: scroll;
            scrollbar-width: thin;
            scrollbar-color: $primaryColorOrange $secondaryColorBlack;
            mask-image: linear-gradient(180deg, #000 90%, transparent), linear-gradient(to left, black 1em, transparent 1em);


            &.show {
                display: block;
            }

            .grid-cv {
                display: grid;
                grid-template-columns: 0.20fr 0.20fr 0.70fr;


                .date {
                    $line-height: 1.5em;
                    $font-size: 1.125em;
                    margin: 0;
                    line-height: 1.25em;
                    font-size: 1em;
                    color: $secondaryColorWhite;
                }

                .timeline {
                    position: relative;
                    width: 2px;
                    background-color: rgba($primaryColorBlue, 0.3);
                    margin: 0 auto;

                }

                .marker {
                    $markerSize: 1.5em;
                    position: absolute;
                    width: $markerSize;
                    height: $markerSize;
                    background: $primaryGradientBlue;
                    border-radius: 50%;
                    left: 50%;
                    transform: translateX(-50%);
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    color: $primaryColorBlack;
                }

                .desc-cv {

                    h4 {
                        $line-height: 1.5em;
                        $font-size: 1.125em;
                        text-transform: none;
                        margin: ($font-size - $line-height) 0 0.5em 0;
                        line-height: 1.5em;
                        font-size: 1.125em;
                    }

                    h5 {
                        margin: 0.5em 0;
                    }

                    p {
                        font-size: 1em;
                        color: $secondaryColorWhite;
                        margin-bottom: 1em;
                    }
                }
            }
        }
    }
}