#cv-section {
    .cv-container {
        width: 70%;

        h3 {
            margin: 0;
            padding: 0;
            line-height: 0;
            font-size: 0;
        }

        .tabs-cv {
            display: flex;

            & * {
                margin-bottom: 1.5rem;
            }

            .tab-cv {
                cursor: pointer;
                padding: 0 1rem;
                flex: 1;
                border-bottom: 0.25rem $secondaryColorBlack solid;
                border-right: 0.25rem $secondaryColorBlack solid;
                display: flex;
                flex-direction: column;
                justify-content: space-between;

                & * {
                    color: $secondaryColorWhite;
                }

                &>* {
                    margin-left: 1rem;


                }


                h3 {
                    letter-spacing: normal;
                    text-transform: none;
                    font-weight: 500;
                    font-size: 1.125rem;
                    align-self: flex-end;

                }

                p {

                    font-size: 1rem;
                    margin-left: 0;


                    strong {
                        align-items: center;
                        font-size: 1.75rem;
                    }
                }

                &.show {
                    border-bottom: 0.25rem $primaryColorWhite solid;
                    border-right: 0.25rem $primaryColorWhite solid;

                    & * {
                        color: $primaryColorWhite;
                    }


                }

                &:hover {
                    border-bottom: 0.25rem $primaryColorBlue solid;
                    border-right: 0.25rem $primaryColorBlue solid;
                }
            }
        }

        article {
            display: none;
            max-height: 20rem;
            overflow-y: scroll;
            scrollbar-width: thin;
            scrollbar-color: $primaryColorOrange $secondaryColorBlack;



            &.show {
                display: block;
            }



            .grid-cv {
                display: grid;
                grid-template-columns: 0.25fr 0.20fr 0.65fr;



                .date {
                    $line-height: 1.5rem;
                    $font-size: 1.125rem;
                    margin: 0;
                    line-height: 1.25rem;
                    font-size: 1rem;
                    color: $secondaryColorWhite;

                }

                .timeline {
                    position: relative;
                    width: 2px;
                    background-color: rgba($primaryColorBlue, 0.3);
                    margin: 0 auto;

                }

                .marker {
                    $markerSize: 1.5rem;
                    position: absolute;
                    width: $markerSize;
                    height: $markerSize;
                    background: $primaryGradientBlue;
                    border-radius: 50%;
                    left: 50%;
                    transform: translateX(-50%);
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    color: $primaryColorBlack;
                }

                .desc-cv {

                    h4 {
                        $line-height: 1.5rem;
                        $font-size: 1.125rem;
                        text-transform: none;
                        margin: ($font-size - $line-height) 0 1rem 0;
                        line-height: 1.5rem;
                        font-size: 1.125rem;
                    }

                    p {
                        font-size: 1rem;
                        color: $secondaryColorWhite;
                        margin-bottom: 1rem;
                    }
                }
            }
        }
    }
}