footer {
    &>* {
        margin: 2rem;
    }

    text-align: center;

    .socials {
        text-align: center;


        &>* {
            height: 1rem;
            margin: 3rem;
        }
    }

    padding: 1rem;

}