footer {
    &>* {
        margin-bottom: 2rem;
    }

    text-align: center;

    .socials {

        display: flex;
        justify-content: center;


        img {

            height: 2rem;
            margin: 3rem;
        }


    }
}