#guess-section {

    article {
        margin-left: 8rem;
    }

    figure {
        img {
            width: 100%;
        }
    }

    .guess-container {
        display: flex;
        flex-direction: row-reverse;
        overflow-x: hidden;
        align-items: center;



        form {
            position: relative;
            z-index: 0;
            background-color: $secondaryColorBlack;
            margin-left: -10rem;
            flex: 0 0 50%;
            box-sizing: border-box;
            padding: 5rem 1rem;
            padding-bottom: 2rem;
            text-align: center;
            transition: transform 0.5s ease;


            &>* {
                margin: auto;
                margin-top: 4rem;
            }

            &.form-active {
                z-index: 3;
                background-color: black;
            }

            &* {
                color: $primaryColorBlack;
            }

            input {
                $border-radius: 2rem;
                border-radius: $border-radius;
                padding: 1rem;
                border-style: none;

                &[name="attempt"] {
                    border-top-right-radius: 0;
                    border-bottom-right-radius: 0;

                }

                &[type="submit"] {
                    background-image: $primaryGradientBlue;
                    border-top-left-radius: 0;
                    border-bottom-left-radius: 0;
                }

                &::placeholder {
                    color: rgba(0, 0, 0, 0.5);
                }

                &[type=text] {
                    color: $primaryColorBlue;
                }
            }

            img {
                width: 80%;
                filter: grayscale(1);
            }
        }
    }


    .slider-buttons {
        display: flex;
        gap: 2rem;
        margin-top: 5rem;


        img {
            cursor: pointer;
            padding: 1rem;
            background: $primaryGradientBlue;


            &.button-left {
                transform: rotate(180deg);
            }
        }
    }
}