#guess-section {
    article {
        margin-left: 8rem;
    }

    figure {
        img {
            width: 100%;
        }
    }

    .slider-buttons {
        display: flex;
        gap: 2rem;
        margin-top: 5rem;


        img {
            cursor: pointer;
            padding: 1rem;
            background: $primaryGradientBlue;


            &.button-left {
                transform: rotate(180deg);
            }
        }
    }
}