header {
    background-color: $secondaryColorBlack;
    width: 100%;

    nav {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        @include responsive('medium') {
            text-align: center;
            justify-content: space-around;

            .cta {
                display: none;
            }
        }

        li {

            padding: 1rem;

            @include responsive('small') {
                padding: 0.5rem;
            }

            a {
                color: $secondaryColorWhite;
                font-weight: 500;
                font-size: 1rem;
            }
        }

        menu {
            display: flex;
            justify-content: space-around;

            @include responsive('medium') {
                &>li:first-of-type {
                    display: none;
                }
            }

        }


    }


}