header {
    background-color: $secondaryColorBlack;
    padding: 1rem;


    nav {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        li {

            padding: 1rem;

            a {
                color: $secondaryColorWhite;
                font-weight: 500;
                font-size: 1rem;
            }
        }

        menu {
            display: flex;
            justify-content: space-around;

            @include responsive('large') {}


            @include responsive('medium') {}

            @include responsive('small') {
                display: none;
            }

        }

    }


}