#intro-section {
    padding: 1rem;

    h1 {
        font-size: 7.5rem;
        font-style: normal;
        font-weight: 700;
        line-height: 7rem;

        @include responsive('large') {}


        @include responsive('medium') {
            font-size: 7.5rem;
            line-height: 7rem;
        }

        @include responsive('small') {
            font-size: 4rem;
            line-height: 4rem;
        }


        sup {
            font-size: 0.25em;
            padding: 1em 0.5em;
            font-weight: 700;
            background-color: $tertiaryColor;
            position: relative;
            top: 0.3em;

        }
    }


    p {
        color: $secondaryColorWhite;
        font-size: 1.375rem;
        line-height: 2rem;

        @include responsive('large') {}


        @include responsive('medium') {
            font-size: 1rem;
            line-height: 1.1rem;
        }

        @include responsive('small') {
            font-size: 0.8rem;
            line-height: 1rem;
        }

        &:first-child {
            color: $primaryColorWhite;
            font-size: 1.25rem;
            font-weight: 600;
            margin-bottom: 2rem;
        }

    }

    *:last-child {
        margin-bottom: 0;
    }

    .cta {
        margin: 4rem 0;
        font-size: 1.125em;


        @include responsive('large') {}


        @include responsive('medium') {}

        @include responsive('small') {
            display: none;
        }
    }


    figure {
        background-color: $secondaryColorBlack;
        width: 100%;
    }


}