$primaryFont: 'Plus Jakarta Sans', sans-serif;
$primaryColorCTABlack: rgb(37, 37, 37);
$primaryColorBlack: rgb(17, 17, 17);
$mainBackgroundColor: rgb(17, 22, 23);
$secondaryColorBlack: rgba(255, 255, 255, 0.08);
$tertiaryColor: rgba(255, 255, 255, 0.40);
$primaryColorWhite: rgb(255, 255, 255);
$secondaryColorWhite: rgba(255, 255, 255, 0.60);
$primaryColorBlue: rgb(0, 212, 252);
$primaryGradientBlue: linear-gradient(277deg, rgb(0, 212, 252) 6.75%, rgb(0, 254, 227) 95.73%);
$marginLeftHeader: 18rem;
$mainContainer: 1200px;