:root {
    --primaryFont: 'Plus Jakarta Sans', sans-serif;
    --primaryColorCTABlack: rgb(37, 37, 37);
    --primaryColorBlack: rgb(17, 17, 17);
    --mainBackgroundColor: rgb(17, 22, 23);
    --secondaryColorBlack: rgba(255, 255, 255, 0.08);
    --tertiaryColor: rgba(255, 255, 255, 0.40);
    --primaryColorWhite: rgb(255, 255, 255);
    --secondaryColorWhite: rgba(255, 255, 255, 0.60);
    --primaryColorBlue: rgb(0, 212, 252);
    --primaryGradientBlue: linear-gradient(277deg, rgb(0, 212, 252) 6.75%, rgb(0, 254, 227) 95.73%);

    /* header spacing */
    --marginLeftHeader: 18rem;
    /* main margin */
    --mainContainer: 1200px;

}

* {
    margin: 0;
    padding: 0;
    color: var(--primaryColorWhite);
    font-family: var(--primaryFont);
}

.gradient-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 200%;
    height: 200%;
    z-index: -1;
    background: radial-gradient(circle at 0% 50%,
            rgba(17, 17, 17, 1) 5%,
            rgba(17, 22, 23, 1) 25%);
}

nav,
main,
footer {
    width: var(--mainContainer);
    margin: auto;
}

menu,
h1,
h2,
h3 {
    text-transform: uppercase;
}

ul,
menu {
    list-style: none;
}

body {
    background-color: var(--mainBackgroundColor);
}

a {
    text-decoration: none;
    color: currentColor;
}

section {
    display: flex;
    margin: 15rem 0;

}

section:first-of-type {
    margin-top: 7rem;
}

h2,
h3 {
    color: var(--primaryColorWhite);
    font-size: 3rem;
    font-weight: 800;
    line-height: 3.6rem;
    letter-spacing: 0.06rem;
}

h3 {
    font-size: 2.5rem;
    font-weight: 700;
    line-height: 2.5rem;
    letter-spacing: 0.1rem;
    margin-left: 1rem;
}

article>* {
    margin-bottom: 1rem;
}


.title p:first-child {

    font-size: 1.25rem;
    font-weight: 600;
    letter-spacing: 0.05rem;
    text-transform: uppercase;
    margin-bottom: 1rem;
}

.cta-container {

    background-image: var(--primaryGradientBlue);
    padding: 1rem 2.5rem;
    width: fit-content;
    text-transform: uppercase;
}

.cta-container a {
    color: var(--primaryColorCTABlack);
    font-weight: 700;
    letter-spacing: 0.045rem;
}

.main-text-section>p:last-of-type {
    color: rgba(255, 255, 255, 0.64);
    font-size: 1.25rem;
    line-height: 1.875rem;
    letter-spacing: -0.05rem;
    margin-top: 2rem;
}


/* header */

header {
    background-color: var(--secondaryColorBlack);
    padding: 1rem;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}

nav li {

    margin: 1rem;
}

nav li a {
    color: var(--secondaryColorWhite);
    font-weight: 500;
    font-size: 1rem;

}

nav li:first-of-type {
    color: var(--primaryColorWhite);
}

menu {
    display: flex;
    justify-content: space-around;
}


.logo-nav a {

    font-size: 3rem;
    color: var(--primaryColorWhite);
    font-weight: 700;
    line-height: 4.5rem;
    letter-spacing: 0.12rem;
}


/* section intro */



h1 {


    font-size: 7.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: 7rem;

}

h1 sup {
    font-size: 2rem;
    padding: 1.8rem 1rem;
    font-weight: 700;
    background-color: var(--tertiaryColor);
    position: relative;
    top: 0.5rem;

}


#intro-section p {
    color: var(--secondaryColorWhite);
    font-size: 1.375rem;
    line-height: 2rem;

}

#intro-section p:first-child {
    color: var(--primaryColorWhite);
    font-family: var(--secondaryFont);
    font-size: 1.25rem;
    font-weight: 600;
    margin-bottom: 2rem;
}


#intro-section>*:last-child {
    margin-bottom: 0;
}

#intro-section .cta-container {
    margin: 4rem 0;
}

#intro-section .cta-container a {
    font-size: 1.125rem;
}


#intro-section figure {
    background-color: var(--secondaryColorBlack);
    /* temp */
    width: 900px;
}


/* guess section */

#guess-section article {
    margin-left: 8rem;
}

#guess-section figure img {
    width: 100%;
}

/* cv section */

#cv-section figure {
    background-color: var(--secondaryColorBlack);
    /* temp */
    width: 900px;
}

/* git section */

#git-section {
    flex-direction: column;

    justify-content: space-between;
}

#git-section>.cta-container {
    align-self: center;
}

#git-section .title {
    text-align: center;
    margin-bottom: 5rem;
}

.git-blocks {
    display: flex;
    gap: 2.5rem;
    align-items: stretch;
    margin-bottom: 2.5rem;
}

.git-block {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-between;
    padding: 2rem;
    background-color: var(--secondaryColorBlack);
    align-items: center;
    width: auto;
}

#git-section .git-blocks .git-block .title {
    margin-bottom: 1rem;
    align-self: flex-start;
    text-align: left;
}

#git-section .git-blocks .git-block .title p {

    font-size: 1.125rem;
    font-weight: 600;
    line-height: 1.125rem;
    letter-spacing: 0.045rem;

}


.git-block img {
    margin: 2rem;

}

.git-block .cta-container {
    padding: 1.5rem 4rem;
    background: var(--secondaryColorBlack);

}



#git-section .cta-container a {
    font-size: 1.125rem;
}

#git-section .git-block .cta-container a {
    font-size: 1rem;
    color: var(--primaryColorWhite);
}


/* blog */
#blog-section {

    justify-content: center;

}

#blog-section .title {
    text-align: center;
    margin-bottom: 5rem;
}

/* contact */
#contact-section article {
    width: 100%;
}

.vercingetorix {
    width: 100%;
    height: 400px;
    background-image: url("../assets/img/clermont-ferrand-vercingetorix.jpg");
    background-repeat: no-repeat;
    opacity: 0.8;
    background-size: 120%;
    background-position: 80% 40%;

    position: relative;
}

#contact-section .title {
    position: absolute;
    right: 4rem;
    bottom: 0;
    padding: 4rem;
    padding-bottom: 1rem;
    background-color: var(--mainBackgroundColor);
}

#contact-section ul {
    margin-top: 2.5rem;
    display: flex;
    flex-direction: row;
}

#contact-section li {
    display: flex;
    align-items: center;
    margin-right: 7rem;
    color: var(--secondaryColorWhite);
    font-size: 1rem;
    line-height: 1.5rem;
    letter-spacing: 0.04rem;
}

#contact-section li img {
    margin-right: 1rem;
}